body {
    margin-top: 60px;
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.01em;
  }
  
  .navbar-default {
    background-color: #FFF;
    margin-left: 230px;
  }
  
  /*main side bar*/
  .msb {
    width: 230px;
    background-color: #333333;
    position: fixed;
    left: 0;
    top: 0;
    right: auto;
    min-height: 100%;
    overflow-y: auto;
    white-space: nowrap;
    height: 100%;
    z-index: 1;
    border-right: 1px solid #ddd;
  }
  .msb .navbar {
    border: none;
    margin-left: 0;
    background-color: inherit;
  }
  .msb .navbar-header {
    width: 100%;
    height: 81px;
    border-bottom: 1px solid #e7e7e7;
    background: #202056;
      
  }
  .msb .dashboard h4, a{
      color: white;
  }
  .mnb .navbar-header a{
      color: #202056;
  }
  .msb .navbar-nav li {
    display: block;
    width: 100%;
  }
  
  /* Style the sidenav links and the dropdown button */
  .side-menu-container a, .dropdown-btn {
    padding: 10px 10px 10px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .dropdown-container li {
    padding: 5px;
  }
  .fa-caret-down {
    float: right;
    padding-right: 10px;
    padding-top: 3px;
  }
  
  .dashboard h4{
      font-size: 18px;
      margin-right: 10px;
  }
  
  .side-menu-container li{
      color: white;
      text-decoration: none;
  }
  
  .side-menu-container h4{
          color: white;
  }
  
  .side-menu-container button{
      color: white;
      text-decoration: none;
  }
  
  .side-menu-container li:hover{
      background: #202056;
      text-decoration: none;
  }
  
  .side-menu-container h4:hover{
          color: white;
  }
  
  .side-menu-container button:hover{
      background: #202056;
      text-decoration: none;
      color: white;
  }
  /*main content wrapper*/
  .mcw {
    margin-left: 230px;
    position: relative;
    min-height: 100%;
    /*content view*/
  }
  
  .mcw .atas {
      background-image: url(/src/assets/img/3---Dashboard---User1.png);
      padding: 0;
      height: 200px;
      border-radius: 0px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0;
  }
  
  .atas h3{
      color: white;
      padding-top: 20px;
      padding-left: 20px;
  }
  
  .breadcrumb-info {
      padding-left: 20px;
  }
  
  .search-dashboard {
      margin: 30px;
  }
  
  .kotak {
      padding-left: 20px;
      padding-right: 20PX;
  }
  
  .thumbnail p {
      text-align: right;
  }
  
  .btn-link {
      font-size: 15px;
      text-decoration: none;
      background: #ffffff;
      border-radius: 50px;
      color: #333333;
      font-weight: 600;
      border: 1px solid #ffb619;
      padding: 8px 20px;
  }
  
  .btn-link:hover {
      background: #ffb619;
      text-decoration: none;
      color: #ffffff;
  }
  
  .jumbotron {
      margin-bottom: 0px;
  }
  
  .modal-title {
      color: #202056;
      font-weight: 600;
  }
  
  .modal-body {
      font-weight: 600;
  }
  
  #close {
      font-size: 15px;
      text-decoration: none;
      background: #ffffff;
      border-radius: 50px;
      color: #333333;
      font-weight: 600;
      border: 1px solid #ffb619;
      padding: 8px 20px;
  }
  
  #close:hover {
      background: #ffb619;
      text-decoration: none;
      color: #ffffff;
  }
  
  .footer{
      background-image: url(/src/assets/img/3---Dashboard---User_bgfooter.png);
      width: 100%;
      height: 60px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  .footer p{
      margin: 0;
      padding: 20px;
      color: white;
      font-size: 13px;
  }
  /*globals*/
  
  .msb{
    -moz-animation: slidein 300ms forwards;
    -o-animation: slidein 300ms forwards;
    -webkit-animation: slidein 300ms forwards;
    animation: slidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .mcw {
    -moz-animation: bodyslidein 300ms forwards;
    -o-animation: bodyslidein 300ms forwards;
    -webkit-animation: bodyslidein 300ms forwards;
    animation: bodyslidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  body.msb-x .mcw, body.msb-x .mnb {
    margin-left: 0;
    -moz-animation: bodyslideout 300ms forwards;
    -o-animation: bodyslideout 300ms forwards;
    -webkit-animation: bodyslideout 300ms forwards;
    animation: bodyslideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  body.msb-x .msb {
    -moz-animation: slideout 300ms forwards;
    -o-animation: slideout 300ms forwards;
    -webkit-animation: slideout 300ms forwards;
    animation: slideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  /* Slide in animation */
  @-moz-keyframes slidein {
    0% {
      left: -230px;
    }
    100% {
      left: 0;
    }
  }
  @-webkit-keyframes slidein {
    0% {
      left: -230px;
    }
    100% {
      left: 0;
    }
  }
  @keyframes slidein {
    0% {
      left: -230px;
    }
    100% {
      left: 0;
    }
  }
  @-moz-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -230px;
    }
  }
  @-webkit-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -230px;
    }
  }
  @keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -230px;
    }
  }
  @-moz-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      margin-left: 230px;
    }
  }
  @-webkit-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 0;
    }
  }
  @keyframes bodyslidein {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: 230px;
    }
  }
  @-moz-keyframes bodyslideout {
    0% {
      margin-left: 230px;
    }
    100% {
      margin-right: 0;
    }
  }
  @-webkit-keyframes bodyslideout {
    0% {
      margin-left: 230px;
    }
    100% {
      margin-left: 0;
    }
  }
  @keyframes bodyslideout {
    0% {
      margin-left: 230px;
    }
    100% {
      margin-left: 0;
    }
  }