body {
    margin-top: 60px;
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.01em;
  }
  
  .navbar-default {
    background-color: #FFF;
    margin-left: 230px;
  }
  
  /*main side bar*/
  .msb {
    width: 230px;
    background-color: #333333;
    position: fixed;
    left: 0;
    top: 0;
    right: auto;
    min-height: 100%;
    overflow-y: auto;
    white-space: nowrap;
    height: 100%;
    z-index: 1;
  }
  .msb .navbar {
    border: none;
    margin-left: 0;
    background-color: inherit;
  }
  .msb .navbar-header {
    width: 100%;
    height: 81px;
    background: #202056;
      
  }
  .msb .dashboard h4, a{
      color: white;
  }
  .mnb .navbar-header a{
      color: #202056;
  }
  .msb .navbar-nav li {
    display: block;
    width: 100%;
  }
  .msb .navbar-nav li:hover {
    background: #ddd;
  }
  
  
  .dashboard h4{
      font-size: 18px;
      margin-right: 10px;
  }
  
  
  .navbar-nav li:hover{
      color: orange;
  }
  /*main content wrapper*/
  .mcw {
    margin-left: 230px;
    position: relative;
    min-height: 100%;
    /*content view*/
  }
  
  .mcw .atas {
      background-image: url(../img/3---Dashboard---User1.png);
      padding: 0;
      height: 200px;
      border-radius: 0px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0;
  }
  
  .atas h3{
      padding: 30px 40px;
      color: white;
  }
  
  .search-dashboard {
      margin: 30px;
  }
  
  .grey-box{
      background-color: #f2f2f2;
      padding: 70px 70px;
  }
  .grey-box h4{
      margin: 0;
      font-size: 25px;
      color: #202056;
  }
  .grey-box p{
      font-size: 19px;
  }
  .grey-box hr{
      margin: 10px 0 30px 0;
      width: 60px;
      height: 0;
      border: 2px solid #202056;
  }
  .white-box{
      background-color: white;
      padding: 50px 70px;
  }
  .white-box h4{
      font-size: 25px;
  }
  
  
  .bawah{
      background-color: #e4e4e4;
      width: 100%;
      height: 100%;
      padding: 60px 40px;
  }
  .bawah h4{
      margin-top: 0;
      margin-bottom: 50px;
      padding: 0;
      font-size: 20px;
  }
  .bawah a{
      font-size: 18px;
      color: black;
  }
  .bawah a:hover{
      font-size: 18px;
      color: orange;
  }
  
  
  .footer{
      background-image: url(../img/3---Dashboard---User_bgfooter.png);
      width: 100%;
      height: 60px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  .footer p{
      margin: 0;
      padding: 20px;
      color: white;
      font-size: 13px;
  }
  /*globals*/
  
  .msb{
    -moz-animation: slidein 300ms forwards;
    -o-animation: slidein 300ms forwards;
    -webkit-animation: slidein 300ms forwards;
    animation: slidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .mcw {
    -moz-animation: bodyslidein 300ms forwards;
    -o-animation: bodyslidein 300ms forwards;
    -webkit-animation: bodyslidein 300ms forwards;
    animation: bodyslidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  body.msb-x .mcw, body.msb-x .mnb {
    margin-left: 0;
    -moz-animation: bodyslideout 300ms forwards;
    -o-animation: bodyslideout 300ms forwards;
    -webkit-animation: bodyslideout 300ms forwards;
    animation: bodyslideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  body.msb-x .msb {
    -moz-animation: slideout 300ms forwards;
    -o-animation: slideout 300ms forwards;
    -webkit-animation: slideout 300ms forwards;
    animation: slideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  /* Slide in animation */
  @-moz-keyframes slidein {
    0% {
      left: -230px;
    }
    100% {
      left: 0;
    }
  }
  @-webkit-keyframes slidein {
    0% {
      left: -230px;
    }
    100% {
      left: 0;
    }
  }
  @keyframes slidein {
    0% {
      left: -230px;
    }
    100% {
      left: 0;
    }
  }
  @-moz-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -230px;
    }
  }
  @-webkit-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -230px;
    }
  }
  @keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -230px;
    }
  }
  @-moz-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      margin-left: 230px;
    }
  }
  @-webkit-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 0;
    }
  }
  @keyframes bodyslidein {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: 230px;
    }
  }
  @-moz-keyframes bodyslideout {
    0% {
      margin-left: 230px;
    }
    100% {
      margin-right: 0;
    }
  }
  @-webkit-keyframes bodyslideout {
    0% {
      margin-left: 230px;
    }
    100% {
      margin-left: 0;
    }
  }
  @keyframes bodyslideout {
    0% {
      margin-left: 230px;
    }
    100% {
      margin-left: 0;
    }
  }